/* Estilos generales */

/* Estilos para la card de tips */
.tips {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tips__titulo {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(234, 41, 133, 0.5);
  text-align: center;
}

.tips__body {
  max-height: 250px;
  overflow: auto; 
  padding: 20px;
}

/* Estilo del scrollbar */
.tips__body::-webkit-scrollbar {
  width: 10px;
  
}

/* Estilo del track del scrollbar */
.tips__body::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color del fondo del track */
}

/* Estilo del thumb (barra deslizante) del scrollbar */
.tips__body::-webkit-scrollbar-thumb {
  background-color: #EA2985; /* Color del thumb (barra deslizante) */
  border-radius: 5px; /* Radio de borde del thumb */
}

/* Estilo del thumb al pasar el mouse sobre él */
.tips__body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(234,41,133, 0.5);
}

.tips__cuerpo h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.tips__importancia {
  font-size: 16px;
  text-align: justify;
}

.tips__speech {
  font-size: 14px;
  font-style: italic;
}

.tips__contenedor {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.tips__agente{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.tips__span {
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
}

.tips__audio {
  display: flex;
  align-items: center;
}

/* Estilos para el reproductor de audio */
/* Cambiar el color del reproductor de audio */
audio {
  color: #EA2985; /* Cambia el color del texto y los controles */
}

/* Cambiar el fondo del reproductor de audio */
audio {
  background-color: #f0f0f0; /* Cambia el color de fondo */
}


/* Estilos para el pie de la card */
.tips__footer {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
  padding: 20px;
  text-align:center;
}

/* Estilos para la card de de procedimientos */
.pdftips {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* es lo mismo que la card de tips */
.pdftips__titulo{
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(234, 41, 133, 0.5);
  text-align: center;
}

.pdftips__body {
  max-height: 150px;
  overflow: auto; 
  padding: 5px 12px;
  text-align: justify;
}


/* Estilo del scrollbar */
.pdftips__body::-webkit-scrollbar {
  width: 7px;
  
}

/* Estilo del track del scrollbar */
.pdftips__body::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color del fondo del track */
}

/* Estilo del thumb (barra deslizante) del scrollbar */
.pdftips__body::-webkit-scrollbar-thumb {
  background-color: #EA2985; /* Color del thumb (barra deslizante) */
  border-radius: 5px; /* Radio de borde del thumb */
}

/* Estilo del thumb al pasar el mouse sobre él */
.pdftips__body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(234,41,133, 0.5);
}


.pdftips__footer {
  font-size: 12px;
  color: #777;
  margin-top: 7px;
  padding: 5px;
  text-align:center;
}

.btn-pdf{
  margin-top: 10px;
  padding: 3px 20px;
  border-radius: 5px;
  color: #EA2985;
  border: #EA2985 solid 2px;
}

.btn-pdf:hover{
  background-color: #EA2985;
  color: white;
  border: #EA2985 solid 2px;
}