@import 'bootstrap/dist/css/bootstrap.min.css';


.img-logo-nav {
  height: 2em;

  will-change: filter;
  transition: filter 300ms;
}
.img-logo-nav:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.img-logo-nav.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .img-logo-nav {
    animation: logo-spin infinite 20s linear;
  }
}

